{{- if .Values.tls.generate }}
# Placeholder secret - will be replaced by generate-certs.sh script
# This allows helm template to work before certs are generated
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.tls.secretName }}
  namespace: {{ include "messaging-operator.namespace" . }}
  labels:
    {{- include "messaging-operator.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-10"
type: kubernetes.io/tls
data:
  tls.crt: {{ "PLACEHOLDER_CERT" | b64enc }}
  tls.key: {{ "PLACEHOLDER_KEY" | b64enc }}
  ca.crt: {{ "PLACEHOLDER_CA" | b64enc }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.tls.secretName }}
  namespace: {{ include "messaging-operator.namespace" . }}
  labels:
    {{- include "messaging-operator.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ required "tls.cert is required when tls.generate is false" .Values.tls.cert }}
  tls.key: {{ required "tls.key is required when tls.generate is false" .Values.tls.key }}
  ca.crt: {{ required "tls.caCert is required when tls.generate is false" .Values.tls.caCert }}
{{- end }}
