apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "messaging-operator.fullname" . }}-webhook
  labels:
    {{- include "messaging-operator.labels" . | nindent 4 }}
webhooks:
{{- range .Values.webhookConfig.resources }}
  - name: {{ .name }}.validate.{{ $.Values.apiGroup }}
    clientConfig:
      service:
        name: {{ include "messaging-operator.webhookServiceName" $ }}
        namespace: {{ include "messaging-operator.namespace" $ }}
        path: /validate/{{ .name }}
      caBundle: {{ $.Values.tls.caCert }}
    rules:
      - operations: ["CREATE", "UPDATE", "DELETE"]
        apiGroups: ["{{ $.Values.apiGroup }}"]
        apiVersions: ["{{ $.Values.apiVersion }}"]
        resources: ["{{ .plural }}"]
    admissionReviewVersions: ["v1"]
    sideEffects: None
    failurePolicy: {{ $.Values.webhookConfig.failurePolicy }}
    timeoutSeconds: {{ $.Values.webhookConfig.timeoutSeconds }}
{{- end }}
